{# empty Twig template #}
<p>Hi {{user.name}},</p>
<br>
<p>You have a new message For advert that you placed.</p>
<br>
<p>&nbsp;</p>
<p><strong>Message:</strong> {{message.message}}</p>
<p><strong>Email:</strong> {{message.email}}</p>
<p><strong>Phone:</strong> {{message.phone}}</p>
<p>&nbsp;</p>
<br>
<p>To View your advert click link below.</p>
<br>
<p><a href= "{{advert.url}} ">{{advert.title}}</a></p>
