{# empty Twig template #}
<br><br>
Thank you for listing your advert with us!
<br><br>
We will get back to you shortly.
<br><br>
You have provided the following details;
<br>

<div>

    <div>
        <b>Title:</b>
        <br>
        {{ title }}
    </div>

    <div>
        <b>Category:</b>
        <br>
        {{ category_id_title }}
    </div>

    <div>
        <b>Country:</b>
        <br>
        {{ country_id_name }}
    </div>

    <div>
        <b>Package:</b>
        <br>
        {{ package_id_title }}
    </div>

    <div>
        <b>Price:</b>
        <br>
        {{ package_price_id_price }}
    </div>

</div>
<br>

For any corrections kindly contact Admin As Soon As Possible.
<br>
<br>
Thank You.