{# empty Twig template #}
<br><br>
A new Advert Listing!
<br><br>
You have provided the following details;
<br>

<div>
    
    <div>
        <b>Title:</b>
        <br>
        {{ title }}
    </div>
    
    <div>
        <b>Category:</b>
        <br>
        {{ category_id_title }}
    </div>
    
    <div>
        <b>Country:</b>
        <br>
        {{ country_id_name }}
    </div>
    
    <div>
        <b>Package:</b>
        <br>
        {{ package_id_title }}
    </div>
    
    <div>
        <b>Price:</b>
        <br>
        {{ package_price_id_price }}
    </div>

</div>
<br>

<br>
Thank You.