<p>Hi {{message.name}},</p>
<br>
<p>Your&nbsp;message was sent Successfully.&nbsp;</p>
<p><strong>Message:</strong> {{message.message}}</p>
<p><strong>Email:</strong> {{message.email}}</p>
<p><strong>Phone:</strong> {{message.phone}}</p>
<p>To View this&nbsp;advert click link below.</p>
<p><a href= "{{advert.url}} ">{{advert.title}}</a></p>
<br>